USE [HRMSDB]
GO
/****** Object:  Table [dbo].[USERTBL]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERTBL](
	[USERID] [varchar](8) NOT NULL,
	[USERPASS] [varchar](8) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USERTBL] ([USERID], [USERPASS]) VALUES (N'ADMIN', N'ADMIN')
/****** Object:  Table [dbo].[TRANINGTYPE]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANINGTYPE](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[TRNTYPEID] [varchar](4) NOT NULL,
	[TRNTYPENAME] [varchar](100) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_TRANINGTYPE] PRIMARY KEY CLUSTERED 
(
	[TRNTYPEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TRANINGTYPE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [TRNTYPEID], [TRNTYPENAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(2122 AS Decimal(9, 0)), N'ADMIN', N'001', N'SEIP', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[TRANINGTYPE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [TRNTYPEID], [TRNTYPENAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(2125 AS Decimal(9, 0)), N'ADMIN', N'002', N'Paid Course', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[THANA]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANA](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [nvarchar](8) NULL,
	[THNID] [nvarchar](4) NOT NULL,
	[THNNAME] [nvarchar](50) NULL,
	[DISNAME] [nvarchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [nvarchar](50) NULL,
 CONSTRAINT [PK_THANA] PRIMARY KEY CLUSTERED 
(
	[THNID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[THANA] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [THNID], [THNNAME], [DISNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1207 AS Decimal(9, 0)), N'', N'001', N'Nagorpur', N'Tangail', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[THANA] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [THNID], [THNNAME], [DISNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1214 AS Decimal(9, 0)), N'', N'002', N'Mirjapur', N'Tangail', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[THANA] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [THNID], [THNNAME], [DISNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1405 AS Decimal(9, 0)), N'ADMIN', N'003', N'Shokhipur', N'Tangail', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[SUBDEPARTMENT]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUBDEPARTMENT](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[SUBDEPID] [varchar](4) NOT NULL,
	[SUBDEPNAME] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NOT NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_SUBDEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[SUBDEPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SUBDEPARTMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [SUBDEPID], [SUBDEPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1443 AS Decimal(9, 0)), N'', N'001', N'SubDept1', 1, CAST(20170118 AS Decimal(9, 0)), N'')
INSERT [dbo].[SUBDEPARTMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [SUBDEPID], [SUBDEPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1502 AS Decimal(9, 0)), N'', N'002', N'ddd', 1, CAST(20170118 AS Decimal(9, 0)), N'')
INSERT [dbo].[SUBDEPARTMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [SUBDEPID], [SUBDEPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1507 AS Decimal(9, 0)), N'', N'003', N'SubDept3', 1, CAST(20170118 AS Decimal(9, 0)), N'')
/****** Object:  Table [dbo].[SECTION]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SECTION](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[SECID] [varchar](4) NOT NULL,
	[SECNAME] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_SECTION] PRIMARY KEY CLUSTERED 
(
	[SECID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SECTION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [SECID], [SECNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1552 AS Decimal(9, 0)), N'', N'001', N'sec1', 1, CAST(20170118 AS Decimal(9, 0)), N'')
INSERT [dbo].[SECTION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [SECID], [SECNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1552 AS Decimal(9, 0)), N'', N'002', N'Sec2', 1, CAST(20170118 AS Decimal(9, 0)), N'')
/****** Object:  Table [dbo].[RELIGIONS]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RELIGIONS](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[RELIID] [varchar](4) NOT NULL,
	[RELINAME] [varchar](20) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_RELIGIONS] PRIMARY KEY CLUSTERED 
(
	[RELIID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RELIGIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [RELIID], [RELINAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1505 AS Decimal(9, 0)), N'ADMIN', N'001', N'Islam', 1, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[RELIGIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [RELIID], [RELINAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1505 AS Decimal(9, 0)), N'ADMIN', N'002', N'Hindu', 1, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[RELATION]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RELATION](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[RELID] [varchar](4) NOT NULL,
	[RELNAME] [varchar](15) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_RELISIONS] PRIMARY KEY CLUSTERED 
(
	[RELID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RELATION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [RELID], [RELNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1443 AS Decimal(9, 0)), N'ADMIN', N'001', N'Professional', 1, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[RELATION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [RELID], [RELNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1444 AS Decimal(9, 0)), N'ADMIN', N'002', N'Academic', 0, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[PUNISHMENT]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUNISHMENT](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[PUNISHID] [varchar](4) NOT NULL,
	[PUNISHNAME] [varchar](300) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_PUNISHMENT] PRIMARY KEY CLUSTERED 
(
	[PUNISHID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PUNISHMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [PUNISHID], [PUNISHNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1205 AS Decimal(9, 0)), N'ADMIN', N'001', N'Forse TC', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[PUNISHMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [PUNISHID], [PUNISHNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1206 AS Decimal(9, 0)), N'ADMIN', N'002', N'1 day without pay', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[PUNISHMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [PUNISHID], [PUNISHNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1207 AS Decimal(9, 0)), N'ADMIN', N'003', N'Without pay', 0, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[OCCUPATIONS]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OCCUPATIONS](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[OCCID] [varchar](4) NOT NULL,
	[OCCNAME] [varchar](20) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_OCCUPATIONS] PRIMARY KEY CLUSTERED 
(
	[OCCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OCCUPATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [OCCID], [OCCNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1604 AS Decimal(9, 0)), N'ADMIN', N'001', N'Businaess', 1, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[OCCUPATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [OCCID], [OCCNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1605 AS Decimal(9, 0)), N'ADMIN', N'002', N'Physician', 1, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[OCCUPATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [OCCID], [OCCNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1605 AS Decimal(9, 0)), N'ADMIN', N'003', N'IT Specialist', 1, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[NOMINATIONS]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOMINATIONS](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[NOMID] [varchar](4) NOT NULL,
	[NOMNAME] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_NOMINATIONS] PRIMARY KEY CLUSTERED 
(
	[NOMID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NOMINATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [NOMID], [NOMNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1133 AS Decimal(9, 0)), N'ADMIN', N'001', N'Unknown', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[NOMINATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [NOMID], [NOMNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1133 AS Decimal(9, 0)), N'ADMIN', N'002', N'abc', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[NATIONALITY]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NATIONALITY](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[NATID] [varchar](4) NOT NULL,
	[NATNAME] [varchar](40) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_NATIONALITY] PRIMARY KEY CLUSTERED 
(
	[NATID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NATIONALITY] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [NATID], [NATNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1405 AS Decimal(9, 0)), N'ADMIN', N'001', N'Bangladeshi', 1, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[NATIONALITY] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [NATID], [NATNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1410 AS Decimal(9, 0)), N'ADMIN', N'002', N'Bangladeshi by birth', 0, CAST(20170119 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[LOCATION]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[AUDTDATE] [decimal](9, 0) NOT NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [nvarchar](20) NULL,
	[LOCID] [nvarchar](4) NOT NULL,
	[LOCNAME] [nvarchar](300) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOCATION] PRIMARY KEY CLUSTERED 
(
	[LOCID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LOCATION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [LOCID], [LOCNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170123 AS Decimal(9, 0)), CAST(1250 AS Decimal(9, 0)), N'ADMIN', N'001', N'R:56, H:22, Gulsan-2, Dhaka', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[LOCATION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [LOCID], [LOCNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170123 AS Decimal(9, 0)), CAST(1250 AS Decimal(9, 0)), N'ADMIN', N'002', N'West Dholairper, Jatrabari, Dhaka', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[INSTITUTE]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INSTITUTE](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[INSID] [varchar](4) NOT NULL,
	[INSNAME] [varchar](250) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_INSTITUTE] PRIMARY KEY CLUSTERED 
(
	[INSID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[INSTITUTE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [INSID], [INSNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(959 AS Decimal(9, 0)), N'ADMIN', N'001', N'Mawlana Bhashani Science & Technology University', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[INSTITUTE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [INSID], [INSNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1000 AS Decimal(9, 0)), N'ADMIN', N'002', N'Dhaka University', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[INSTITUTE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [INSID], [INSNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1000 AS Decimal(9, 0)), N'ADMIN', N'003', N'ABC', 0, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[GRADE]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRADE](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[GRDID] [varchar](4) NOT NULL,
	[GRDGROUP] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_GRADE] PRIMARY KEY CLUSTERED 
(
	[GRDID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GRADE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [GRDID], [GRDGROUP], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1302 AS Decimal(9, 0)), N'ADMIN', N'001', N'Management', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[GRADE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [GRDID], [GRDGROUP], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1303 AS Decimal(9, 0)), N'ADMIN', N'002', N'UnManagement', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[GRADE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [GRDID], [GRDGROUP], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1337 AS Decimal(9, 0)), N'ADMIN', N'003', N'ABC', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[EMPLOYEETYPE]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEETYPE](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[EMPID] [varchar](4) NOT NULL,
	[EMPNAME] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_EMPLOYEETYPE] PRIMARY KEY CLUSTERED 
(
	[EMPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMPLOYEETYPE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EMPID], [EMPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1156 AS Decimal(9, 0)), N'ADMIN', N'001', N'Permanent', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[EMPLOYEETYPE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EMPID], [EMPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1157 AS Decimal(9, 0)), N'ADMIN', N'002', N'Contructual', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[EMPLOYEEGRADE]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEEGRADE](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[EMPGRADEID] [varchar](8) NOT NULL,
	[EMPGRADENAME] [varchar](50) NULL,
	[GRDGROUP] [varchar](50) NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_EMPLOYEEGRADE] PRIMARY KEY CLUSTERED 
(
	[EMPGRADEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMPLOYEEGRADE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EMPGRADEID], [EMPGRADENAME], [GRDGROUP], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1554 AS Decimal(9, 0)), N'ADMIN', N'001', N'A', N'Management', CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[EMPLOYEEGRADE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EMPGRADEID], [EMPGRADENAME], [GRDGROUP], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1639 AS Decimal(9, 0)), N'ADMIN', N'002', N'B', N'ABC', CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[EMPLOYEEGRADE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EMPGRADEID], [EMPGRADENAME], [GRDGROUP], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1655 AS Decimal(9, 0)), N'ADMIN', N'003', N'C', N'Management', CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[EDUCATIONTYPE]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDUCATIONTYPE](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[EDUID] [varchar](4) NOT NULL,
	[EDUNAME] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_EDUCATIONTYPE] PRIMARY KEY CLUSTERED 
(
	[EDUID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EDUCATIONTYPE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EDUID], [EDUNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(2048 AS Decimal(9, 0)), N'ADMIN', N'001', N'B.Sc. Engineering in CSE', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[EDUCATIONTYPE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EDUID], [EDUNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(2048 AS Decimal(9, 0)), N'ADMIN', N'002', N'M.Sc. Engineering in CSE', 0, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[EDUCATIONTYPE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [EDUID], [EDUNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(2049 AS Decimal(9, 0)), N'ADMIN', N'003', N'ABC', 0, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[DIVISION]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIVISION](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[DIVID] [varchar](4) NOT NULL,
	[DIVNAME] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_DIVISION] PRIMARY KEY CLUSTERED 
(
	[DIVID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DIVISION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DIVID], [DIVNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1245 AS Decimal(9, 0)), N'ADMIN', N'001', N'Rajsahi', 1, CAST(20170118 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[DIVISION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DIVID], [DIVNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1251 AS Decimal(9, 0)), N'ADMIN', N'002', N'Dhaka', 1, CAST(20170118 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[DIVISION] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DIVID], [DIVNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1259 AS Decimal(9, 0)), N'ADMIN', N'003', N'Rongur', 1, CAST(20170118 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [nvarchar](8) NULL,
	[DISID] [nvarchar](50) NOT NULL,
	[DISNAME] [nvarchar](300) NULL,
	[DIVNAME] [nvarchar](100) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [nvarchar](50) NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[DISID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DISTRICT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DISID], [DISNAME], [DIVNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170123 AS Decimal(9, 0)), CAST(1059 AS Decimal(9, 0)), N'ADMIN', N'001', N'Tangail', N'Dhaka', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[DISTRICT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DISID], [DISNAME], [DIVNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1132 AS Decimal(9, 0)), N'ADMIN', N'002', N'Tangail Sodor', N'Dhaka', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[DISTRICT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DISID], [DISNAME], [DIVNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170123 AS Decimal(9, 0)), CAST(1055 AS Decimal(9, 0)), N'ADMIN', N'003', N'Valika', N'Mymenshingh', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[DESIGNATIONS]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DESIGNATIONS](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[DESID] [varchar](4) NOT NULL,
	[DESNAME] [varchar](50) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_DESIGNATIONS] PRIMARY KEY CLUSTERED 
(
	[DESID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DESIGNATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DESID], [DESNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1216 AS Decimal(9, 0)), N'ADMIN', N'001', N'Junior System Analyst', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[DESIGNATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DESID], [DESNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1218 AS Decimal(9, 0)), N'ADMIN', N'002', N'System Analyst', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[DESIGNATIONS] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DESID], [DESNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(1218 AS Decimal(9, 0)), N'ADMIN', N'003', N'Key Accounts', 0, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[DEPID] [varchar](4) NOT NULL,
	[DEPNAME] [varchar](150) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DEPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DEPARTMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DEPID], [DEPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170118 AS Decimal(9, 0)), CAST(1513 AS Decimal(9, 0)), N'', N'001', N'Accounts', 1, CAST(20170118 AS Decimal(9, 0)), N'')
INSERT [dbo].[DEPARTMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DEPID], [DEPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170119 AS Decimal(9, 0)), CAST(1133 AS Decimal(9, 0)), N'', N'002', N'ERP', 1, CAST(20170119 AS Decimal(9, 0)), N'')
INSERT [dbo].[DEPARTMENT] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DEPID], [DEPNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170123 AS Decimal(9, 0)), CAST(1256 AS Decimal(9, 0)), N'', N'003', N'INF', 1, CAST(20170123 AS Decimal(9, 0)), N'')
/****** Object:  Table [dbo].[DEGREE]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEGREE](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[DEGID] [varchar](4) NOT NULL,
	[DEGNAME] [varchar](100) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_DEGREE] PRIMARY KEY CLUSTERED 
(
	[DEGID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DEGREE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DEGID], [DEGNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(2210 AS Decimal(9, 0)), N'ADMIN', N'001', N'BSC', 1, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[DEGREE] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [DEGID], [DEGNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170121 AS Decimal(9, 0)), CAST(2210 AS Decimal(9, 0)), N'ADMIN', N'002', N'MSC', 0, CAST(20170121 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[CSCOM]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CSCOM](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[CONAME] [varchar](60) NULL,
	[COADDR] [varchar](300) NULL,
	[COEMAIL] [varchar](100) NULL,
	[COWEB] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPLAIN]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPLAIN](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [varchar](8) NULL,
	[COMID] [varchar](4) NOT NULL,
	[COMNAME] [varchar](300) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [varchar](8) NULL,
 CONSTRAINT [PK_COMPLAIN] PRIMARY KEY CLUSTERED 
(
	[COMID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[COMPLAIN] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [COMID], [COMNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1137 AS Decimal(9, 0)), N'ADMIN', N'001', N'Noisy', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[COMPLAIN] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [COMID], [COMNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1139 AS Decimal(9, 0)), N'ADMIN', N'002', N'Irregular', 1, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[COMPLAIN] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [COMID], [COMNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170122 AS Decimal(9, 0)), CAST(1140 AS Decimal(9, 0)), N'ADMIN', N'003', N'abc', 0, CAST(20170122 AS Decimal(9, 0)), N'ADMIN')
/****** Object:  Table [dbo].[companyProfile]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companyProfile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [nvarchar](50) NULL,
	[COMNAME] [nvarchar](150) NULL,
	[COMADDRESS] [nvarchar](500) NULL,
	[COMEMAIL] [nvarchar](100) NULL,
	[COMWEB] [nvarchar](100) NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [nchar](10) NULL,
 CONSTRAINT [PK_companyProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[companyProfile] ON
INSERT [dbo].[companyProfile] ([ID], [AUDTDATE], [AUDTTIME], [AUDTUSER], [COMNAME], [COMADDRESS], [COMEMAIL], [COMWEB], [DATELASTMN], [LSTUSER]) VALUES (5, CAST(20170123 AS Decimal(9, 0)), CAST(1609 AS Decimal(9, 0)), N'ADMIN', N'Transcom Limited', N'R:56, H:22, Gulsan-2, Dhaka, Bangladesh.', N'tcl@transbd.com', N'www.tcl.com.bd', CAST(20170123 AS Decimal(9, 0)), N'ADMIN     ')
SET IDENTITY_INSERT [dbo].[companyProfile] OFF
/****** Object:  Table [dbo].[BANK]    Script Date: 01/23/2017 17:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[AUDTDATE] [decimal](9, 0) NULL,
	[AUDTTIME] [decimal](9, 0) NULL,
	[AUDTUSER] [nvarchar](50) NULL,
	[BNKID] [nvarchar](4) NOT NULL,
	[BNKNAME] [nvarchar](300) NULL,
	[SWACTV] [int] NULL,
	[DATELASTMN] [decimal](9, 0) NULL,
	[LSTUSER] [nvarchar](50) NULL,
 CONSTRAINT [PK_BANK] PRIMARY KEY CLUSTERED 
(
	[BNKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANK] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [BNKID], [BNKNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170123 AS Decimal(9, 0)), CAST(1720 AS Decimal(9, 0)), N'ADMIN', N'001', N'Prime Bank', 1, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
INSERT [dbo].[BANK] ([AUDTDATE], [AUDTTIME], [AUDTUSER], [BNKID], [BNKNAME], [SWACTV], [DATELASTMN], [LSTUSER]) VALUES (CAST(20170123 AS Decimal(9, 0)), CAST(1720 AS Decimal(9, 0)), N'ADMIN', N'002', N'AB Bank', 0, CAST(20170123 AS Decimal(9, 0)), N'ADMIN')
