<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- main database connection string (WINDOWS Authentication) -->
    <!--<add key="ConnectionString" value ="Provider=SQLOLEDB.1;Integrated Security=SSPI;Initial Catalog=HRMS;Data Source=MIS04"/> -->
    <add key="ConnectionString" value ="Provider=SQLOLEDB.1;Data Source=(local);Integrated Security=SSPI;Initial Catalog=HRMSDB"/>
    <add key="SqlString" value ="Data Source=(local);Integrated Security=SSPI;Initial Catalog=HRMSDB"/>
  </appSettings>


</configuration>